{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "indent": ["error", 2],
    "object-curly-newline": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "import/extensions": "off",
    "import/no-unresolved": [
      2,
      { "caseSensitive": false }
    ],
    "import/newline-after-import": "off",
    "no-console": "off",
    "no-useless-escape": "off"
  }
}
