.input {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  color: #1e1e1e;
  line-height: 27px;
  border: none;
  border-bottom: 1px solid #999;
  // Отступ для перемещения лейбла
  padding: 9px 0 0;

  &:focus {
    border-bottom: 1px solid #444;
    outline: none;

    & + .label {
      font-size: 9px;
      line-height: 9px;
      top: 0;
    }
  }

  &:not(:placeholder-shown) {

    & + .label {
      font-size: 9px;
      line-height: 9px;
      top: 0;
    }
  }

  &_state {

    &_valid {
      border-bottom: 1px solid #b1e693 !important;

      & + label + .form__error {
        display: none;
      }
    }

    &_invalid {
      border-bottom: 1px solid #cb6363 !important;
      color: #cb6363;

      & + label + .form__error {
        display: block;
      }
    }
  }
}
