.button {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #999;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;

  &_state {
    &_success {
      background-color: #6ECB63;
    }

    &_error {
      background-color: #CB6363;
    }
  }
}
