.label {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  display: block;
  margin: 0;
  color: #999999;
  position: absolute;
  top: 18px;
  left: 0;

  transition: all ease-in-out .3s;
}
