.header {
  height: 53px;
  border-bottom: 1px solid #fbf4e9;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  justify-content: space-between;

  &__title {
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    color: #1e1e1e;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__settings {
    text-indent: -9000px;
    background-color: transparent;
    border: none;
    background-image: url('./ellipsis.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
}
