.form {
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  min-height: 450px;
  box-sizing: border-box;
  padding: 48px 30px 155px;

  &_type {

    &_popup {
      padding: 0 10px 50px;
      min-height: auto;
      position: initial;
      top: auto;
      left: auto;
      box-shadow: none;
      width: auto;
      transform: none;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    text-align: center;
    color: #1e1e1e;
  }

  &__fields {
    margin-top: 42px;
  }

  &__group {
    position: relative;
    //padding-bottom: 20px;
    padding-bottom: 30px;
  }

  &__error {
    display: none;
    position: absolute;
    color: #cb6363;
    font-size: 10px;
    line-height: 12px;
    left: 0;
    top: 40px;
  }

  &__controls {
    position: absolute;
    bottom: 27px;
    left: 30px;
    right: 30px;

    &-error {
      color: #cb6363;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  &__link {
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    color: #6380cb;
    display: block;
    margin-top: 13px;
    cursor: pointer;
  }
}
