.form {
  padding: 48px 30px 30px;
  background: #FFFFFF;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  min-height: 450px;
  box-sizing: border-box;
  padding-bottom: 155px;

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    text-align: center;
    color: #1E1E1E;
  }

  &__fields {
    margin-top: 42px;
  }

  &__group {
    position: relative;
    padding-bottom: 16px;
  }

  &__error {
    position: absolute;
    color: #CB6363;
    font-size: 10px;
    line-height: 12px;
    left: 0;
    top: 42px;
  }

  &__controls {
    position: absolute;
    bottom: 27px;
    left: 30px;
    right: 30px;
  }

  &__link {
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    color: #6380CB;
    display: block;
    margin-top: 13px;
  }
}
